/* Remove borda das imagens. */
/*.reveal section img { background:none; border:none; box-shadow:none; }*/

/* Destaque que eu dou aos LSBs. */
span.destaque {
	color: red;
	font-weight: bold;
}

/* Faz o número da página ficar maior. */
div.slide-number {
	bottom: 15px !important;
	right: 15px !important;
	font-size: 24px !important;
	/*padding: 5px 6px 7px 3px !important;*/
	font-weight: bold;
	border-radius: 5px;
}

/* Cria classes para duas colunas em um mesmo slide. */
/*  - http://stackoverflow.com/a/38462769 */
div.left {
	float: left;
}
div.right {
	float: right;
}
div.column {
	width: 40%;
	text-align: center;
	padding: 20px;
}
div.column > li {
	text-align: left;
}

/* Número de colunas indeterminado. */
div.col {
	float: left;
	text-align: center;
}
div.col > ul {
	/* http://stackoverflow.com/a/1461023 */
	list-style-position: inside;
	text-align: left;
}
div.w20 { width: 20%; }
div.w30 { width: 30%; }
div.w40 { width: 40%; }
div.w50 { width: 50%; }
div.w60 { width: 60%; }
div.w70 { width: 70%; }
div.w80 { width: 80%; }

/* Cuida das imagens. */
.reveal section img {
	/*width: 30px !important;*/
	/*height: 40%;*/
	/*max-width: 70% !important;*/
	max-height: 90vh !important;
}

/* Legenda das imagens. */
.reveal section p.caption {
	font-size: 32px;
}

/* Formata código inline. */
/*code {
	background-color: #949282;
	padding: 0px 10px !important;
	border-radius: 10px;
}*/

/* Formata o que tá em itálico. */
i, em {
}


.small-table {
	/*background-color: blue;*/
	font-size: 28px !important;
}
