/* Remove borda das imagens. */
/*.reveal section img { background:none; border:none; box-shadow:none; }*/

/* Destaque que eu dou aos LSBs. */
span.destaque {
	color: red;
	font-weight: bold;
}

/* Faz o número da página ficar maior. */
div.slide-number {
	bottom: 15px !important;
	right: 15px !important;
	font-size: 24px !important;
	/*padding: 5px 6px 7px 3px !important;*/
	font-weight: bold;
	border-radius: 5px;
}

/* Cria classes para duas colunas em um mesmo slide. */
/*  - http://stackoverflow.com/a/38462769 */
div.left {
  float: left;
}
div.right {
  float: right;
}
div.column {
  width: 40%;
  text-align: center;
  padding: 20px;
}
div.column > li {
  text-align: left;
}

/* http://stackoverflow.com/a/1461023 */
/*ul {
   list-style-position: inside;
}*/


/* Cuida das imagens. */
.reveal section img {
	/*width: 30px !important;*/
	/*height: 40%;*/
	/*max-width: 70% !important;*/
	max-height: 90vh !important;
}

/* Legenda das imagens. */
.reveal section p.caption {
	font-size: 32px;
}
